<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Супер вечеринка</title>
    <link rel="stylesheet" href="anwserAgain/anwserAgain.css">
  </head>
  <body>
    <header>
      <span>Здравствуйте, <%= user.displayName %></span>
      <a href="/logout"><img src="img/logout.png" alt=""></a>
    </header>
    <main>
      <button id="anwser">Удалить старый ответ</button>
    </main>
    
    <script src="anwserAgain/anwserAgain.js"></script>
  </body>
</html>
