<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Супер вечеринка</title>
    <link rel="stylesheet" href="index/index.css">
  </head>
  <body>
    <main>
      <p>Мы устраиваем супер вечеринку!</p>
      <p>Ты прийдешь?</p>
      <a href="/auth"><img src="img/vk.png" alt=""></a>
    </main>
  </body>
</html>
